@{
  Layout = "_Layout";
}
@using WordPuzzle.Models;

<h1>Current Puzzles:</h1>

<ul>
  @foreach (Puzzle puzzle in @Model["puzzles"])
  {
    <li><a href='/games/@Model["game"].Id/puzzles/@puzzle.Id'>Puzzle @puzzle.Id [State: @puzzle.CheckPuzzleState()]</a></li>
  }
</ul>

<br>
<br>
<form action='/games/@Model["game"].Id/puzzles/create' method="post">
  <input name="id" type="hidden" value='@Model["game"].Id'>
  <button type="submit">Add a New Puzzle</button>
</form>
<br>
<p><a href='/games/@Model["game"].Id/puzzles/new'>Create Custom Puzzle</a></p>
<p><a href='/games'>Return to Game List</a></p>
<p><a href='/'>Return to Home Page</a></p>